// ------------  Slide right --------- //
@mixin slide_x($space) {
  transform: translateX($space);
  -webkit-transform: translateX($space);
  -moz-transform: translateX($space);
  -ms-transform: translateX($space);
  -o-transform: translateX($space);
  opacity: 0;
}

// ------------  Slide Bottom --------- //
@mixin slide_y($space) {
  transform: translateY($space);
  -webkit-transform: translateY($space);
  -moz-transform: translateY($space);
  -ms-transform: translateY($space);
  -o-transform: translateY($space);
  opacity: 0;
}
