@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family  */
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-thin.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-demibold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-extrabold.ttf") format("ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-extrabold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Poppins" !important;
}
/* font family  */

/* -----------------
      Start Select City 
------------------ */
.selectbox--default_cities select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selectbox--default_cities .select i {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.select_first_city--selectbox  .selectbox--image{
  transition: .7s;
  max-width: calc(100% / 2);
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}
.select_first_city--selectbox  .selectbox--image.sm{
  max-width: calc(100% / 4);
}
/* -----------------
      End of Select City 
------------------ */

/* Start loading  */
#loading{
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
#loading.hidde{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#loading i{
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  } 100%{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  }
}

/* End of loading  */
/* Start Gradient box */
#gradient_box{
  box-shadow: 2px 2px 15px rgba(37, 37, 37, 0.233);
  -webkit-box-shadow: 2px 2px 15px rgba(37, 37, 37, 0.233);
  -moz-box-shadow: 2px 2px 15px rgba(37, 37, 37, 0.233);
  -ms-box-shadow: 2px 2px 15px rgba(37, 37, 37, 0.233);
  -o-box-shadow: 2px 2px 15px rgba(37, 37, 37, 0.233);
  border: line;
}
/* End of Gradient box */

/* Dark mode Switcher menu and button styles */
#switcher_menu{
  top: 0px;
  left: -40px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all ease-in-out 0s;
  -webkit-transition: all ease-in-out 0s;
  -moz-transition: all ease-in-out 0s;
  -ms-transition: all ease-in-out 0s;
  -o-transition: all ease-in-out 0s;
}
#switcher_menu.active{
  top:0px;
  left: -40px;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
#switcher_menu li.active{
  background: rgb(220, 244, 247);
  color: rgb(58, 58, 58);
}
body.dark #switcher_menu li.active{
  background: rgb(108, 103, 122);
  color: rgb(243, 243, 243);
}
/* End of Dark mode Switcher menu and button styles */
