@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family  */
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-thin.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-demibold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-extrabold.ttf") format("ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../public/fonts/Poppins/Poppins-extrabold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Poppins" !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
#app.blur{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* font family  */

/* -----------------
      Start Select City 
------------------ */
.selectbox--default_cities select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selectbox--default_cities .select i {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.select_first_city--selectbox  .selectbox--image{
  transition: .7s;
  max-width: calc(100% / 2);
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}
.select_first_city--selectbox  .selectbox--image.sm{
  max-width: calc(100% / 4);
}
/* -----------------
      End of Select City 
------------------ */

/* Start loading  */
#loading{
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
#loading.hidde{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#loading i{
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  } 100%{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  }
}

/* End of loading  */


/* Dark mode Switcher menu and button styles */
#switcher_menu .custom_radio_inputs label i{
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}
#switcher_menu .custom_radio_inputs input[type = 'radio']:checked ~ label i{
  background-color: #2563eb;
}
/* End of Dark mode Switcher menu and button styles */

/* Realtime degree responseive font size */
@media screen and (max-width: 767px) {
  .realtitle--degree{
    font-size: 25vw;
  }
  .realtitle--degree span{
    font-size: 15vw;
  }
}
/* End of Realtime degree responseive font size */

/* Realtime weather image shadow  */
.real-img{
  filter: drop-shadow(-10px -5px 45px rgba(0, 0, 0, 0.226));
  -webkit-filter: drop-shadow(-10px -5px 45px rgba(0, 0, 0, 0.226));
}
/* End of Realtime weather image shadow  */

/* Start Switcher menu / dark and light theme  */
#switcher_menu{
  pointer-events: none;
}
/* #switcher_menu.active{
  pointer-events: all;
} */
#switcher_menu #main{
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: all;
}
#switcher_menu.active #main{
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
/* End of Switcher menu / dark and light theme  */

/* Background hidden for close popups  */
#hidden_background_section{
  visibility: hidden;
  display: none;
  opacity: 0;
}
#hidden_background_section.active{
  visibility: visible;
  display: flex;
  opacity: .2;
}
/* End of Background hidden for close popups   */



/* Mobile  */
@media screen and (max-width: 768px){
  /* Slider Cards  */

  /* End of Slider Cards  */
}
/* End of Mobile  */







/* Swiper js slider styles  */
.swiper-slide {
  height: auto !important;
}
.swiper-slide.active{
  background: linear-gradient(rgb(86, 154, 255), rgb(0, 81, 255));
}
.swiper-slide img{
  max-height: 65%;
}

/* End of Swiper js slider styles  */
