#select_first_city {
  animation-name: slide_bottm;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}
@keyframes slide_bottm {
  0% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
#select_first_city .body--image {
  animation-name: slide_bottm;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}
@keyframes slide_bottm {
  0% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
#select_first_city .body--texts h1 {
  animation-name: slide_bottm;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}
@keyframes slide_bottm {
  0% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
#select_first_city .body--texts p {
  animation-name: slide_bottm;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}
@keyframes slide_bottm {
  0% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
#select_first_city .body--texts button {
  animation-name: slide_bottm;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}
@keyframes slide_bottm {
  0% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=animations.css.map */
